[2022-04-12 17:59] cmumatt opened #927 "Automate Style function documentation extraction"
**Describe the bug**
The process to update the function documentation on the Docusaurus site is semi-manual due to TypeDoc's present limited support for markdown documentation for function dictionaries.  The workaround is to temporarily transform the function dictionaries into classes, generate the documentation using `yarn docs:md` in `core`, remove any bad links, copy the md output into `/docs-s

[2022-04-12 20:51] #898 closed

[2022-04-13 19:05] wodeni opened #928 "Reduce redundant comp graph construction in the evaluator"
* __The main goal of the evaluator__: take the `Translation`, which contains expressions defined in Style `radius: 3 + b.shape.radius`, and turn it into a list of shapes with actual values `radius: 5`.
* To accomplish this, the evaluator walks through the translation, and turns Style expressions like `3 + b.shape.radius` into `add(3, 2)`.
* Effectively, the evaluator constructs an autodiff computa

[2022-04-18 15:31] marcusps commented on #913
I wanted to try Penrose on Linux and came across this issue (Ubuntu 21.10).  It does not look like `node` will improve recursive watch support on Linux any time soon, and expect the issue to be fixed in `libuv`, but it does not look like the issue will be addressed by `libuv` either.

One way to address these problems would be to use `chokidar` ([link](https://www.npmjs.com/package/chokidar)) whic

[2022-04-19 19:32] samestep commented on #913
@wodeni Just to confirm, does #929 resolve this?

[2022-04-19 19:41] wodeni commented on #913
Yep that's the goal. Still need to see if vite will work reliable for linux obviously

[2022-04-20 20:51] maxkrieger opened #934 "Enter key in IDE should not autocomplete"
Use tab instead

[2022-04-22 14:09] cmumatt opened #935 "Automator fails in draw mode"
**Describe the bug**
Automator fails with an unhandled type error when executed in draw mode.  This appears to be due to a parameter mismatch in the call to singleProcess() when running in draw mode.  Batch mode does not exhibit this problem.

**To Reproduce**
[code]

Result:
[code]

**Expected behavior**
[code]
Observe diagram generated: `./out/output.svg`

**Desktop (please complete the followin

[2022-04-22 15:34] #935 closed

[2022-04-22 19:57] samestep commented on #934
ok

[2022-04-25 21:33] samestep commented on #866
@wodeni This issue still persists. Example:

- https://github.com/penrose/penrose/pull/907/commits/cdef6952271bc6d9a973d34d1b2eb61abf22d032
- https://github.com/penrose/penrose/runs/6132954177?check_suite_focus=true

[code]

[2022-04-26 20:18] #913 closed

[2022-04-26 21:08] wodeni commented on #913
Thanks all for commenting on this issue!

In #929, we removed `serve-http` and switched to [vite](https://vitejs.dev/) for live-reload mode for both `@penrose/browser-ui` and `@penrose/panels`. To try it out:

* Pull from `main`
* Run `yarn clean`
* Follow the [Building and Running page](https://github.com/penrose/penrose/wiki/Building-and-running) instructions again

Let us know if you run into t

[2022-05-04 15:33] #887 closed

[2022-05-04 20:05] cmumatt opened #948 "Enable strict TS checks in Automator"
**Describe the bug**
Currently the TypeScript `strict` option is enabled everywhere but Automator.

The minimal TypeScript checks in Automator make bugs in this module harder to find.  Consequently, we should enable these additional checks and address the issues with the existing code these checks identify.

PR #947 previously enabled many options, but not `strict`.

[2022-05-05 13:46] samestep commented on #948
I really wish we could share TypeScript options across our packages...

[2022-05-05 15:27] cmumatt commented on #948
Thanks, @samestep !  That's a great way to keep these more consistent across the monorepo.

[2022-05-06 18:29] wodeni opened #951 "Folder re-organization for IDE deployment stopped working"
**Describe the bug**

#916 introduced a script that moves the `@penrose/panels` site into `docs-site`. The script doesn't work on the latest commit on `main`, and probably never worked.

For example, the Cloudflare deployment for https://github.com/penrose/penrose/runs/6309129812 actually failed silently:

[code]

In general, I think this script is quite fragile and probably not the most sustainab

[2022-05-10 22:43] samestep commented on #394
@cmumatt Do you happen to know if this is still something we plan to do? I don't remember the conclusion of our passthrough conversations in January:

- #749
- #759
- #806

[2022-05-10 22:44] samestep commented on #866
@wodeni Is this fixed now as of #942?

[2022-05-10 22:45] samestep commented on #514
@wodeni Does this relate to #894?

[2022-05-11 14:39] maxkrieger commented on #573
For the record I'm still in favor of throwing everything on the central docs site (most repos do this) - I don't remember us having a reversal

[2022-05-11 17:26] #569 closed

[2022-05-11 22:58] cmumatt commented on #394
@samestep, right.  This pre-dates SVG passthrough, which makes all properties valid.  Based on that change in January, issuing compiler errors as originally described is no longer feasible.  It does seem Penrose should do something to help make typos more obvious. Maybe an appropriate user aid might be to provide hints in the IDE such as a different color to help the user recognize when a property

[2022-05-11 23:00] samestep commented on #394
Ahh I like that idea!

[2022-05-13 23:48] #866 closed

[2022-05-17 18:52] wodeni commented on #496
Bump: is this still relevant after #907?

[2022-05-17 20:44] samestep commented on #496
According to a conversation I just had with @keenancrane, the way we're currently doing this (including the new stuff I did in #906) is correct.

[2022-05-17 20:44] #496 closed

[2022-05-17 20:57] GeometryCollective opened #980 "Make it possible to run Penrose from local directory"
A common usage pattern for using Penrose would be to, e.g., write programs in the directory for a paper, and run Penrose from that directory.  Right now, it seems, we can only run from the Penrose tree (i.e., we have to run on examples within that tree).  Not sure what's needed to fix…

[2022-05-17 21:59] GeometryCollective opened #982 "Something broke with the optimizer since last Penrose week"
A bunch of examples, like those in `triangle-mesh-2d`, no longer work.  The optimizer gets stuck for most seeds, and can't make any progress.

I tried creating a minimal example that reproduces this behavior.  Here's a minimal-ish triple (I'm just putting the source directly in the GitHub issue, rather than making a whole branch that pollutes our history…):

[minimal-example.dsl.txt](https://githu

[2022-05-18 01:45] samestep commented on #982
I haven't looked closely at this yet (will tomorrow) but one important takeaway from this is that if someone cares about an example, they should really put it in the [registry](https://github.com/penrose/penrose/wiki/Registry). Our determinism check on the registry in CI is very powerful, and @wodeni and I put a lot of effort into making sure we don't break registry diagrams when refactoring, but

[2022-05-18 02:18] keenancrane commented on #982
@samestep Can you make a wiki page about what the registry is and how to add examples?

In this case it seems like a symptom of a deeper issue (not just a quirk of a particular domain), since the example is extremely simple: a dot with a label.

[2022-05-18 02:29] samestep commented on #982
@keenancrane My message above links to that wiki page.

[2022-05-18 02:31] keenancrane commented on #982
Mea culpa. Thank you @samestep.

[2022-05-18 11:45] samestep commented on #982
@keenancrane No worries!

Right, I think I phrased my earlier message a bit poorly. What I meant to say is that we place a nontrivial amount of reliance on the registry for regression testing, so it's important that we have a diverse set of diagrams in the registry. It's hard to predict ahead of time what "diverse" should mean, so in my opinion a good policy is that if you create a new diagram in

[2022-05-18 13:13] samestep commented on #982
Is `CorbeauYak479` an example of a variation where it gets stuck, as you mentioned?

[2022-05-18 17:38] keenancrane opened #985 "Allow anonymous shapes in Style rules"
**Is your feature request related to a problem? Please describe.**
The Style language currently requires all shapes to be given an explicit name, even if these shapes never need to be referenced in subsequent expressions or rules.  For instance:

[code]

These "dummy names" (in this case, `x.dotShape`) make code less legible, and increase cognitive load.  It also forces the programmer to spend ext

[2022-05-18 17:59] keenancrane opened #986 "Don't require variables to be named if they can be inferred from the Style selector"
### Feature

The current syntax for Style selectors requires that the arguments of any predicates, constructors, or functions following the `where` statement must be explicitly declared.  Allowing argument declarations to be implicit, and inferring their types from the Domain/Substance program, would dramatically simplify/clean up Style code.  (Omission of explicit argument declarations could be m

[2022-05-19 03:58] ZiyaoWei commented on #985
I've been following Penrose for a while and super interested in getting involved - I know there was a "not ready for contribution" in the docs somewhere, but it seems to have gone. Would now be a good time? If so I'd be excited to start working on this issue!

[2022-05-19 18:59] samestep opened #993 "Bring back derivative and derivativePreconditioned functions"
@wodeni and I removed them in #976. We should bring them back after #984.

[2022-05-19 21:31] keenancrane commented on #924
Here's another example where it would be nice to apply a set of parameters, rather than having to type them out one at a time:

[code]

Here a pattern that might make sense is defining a struct-like object that defines all the fields we want to define, then applying this object to each instance:

[code]

Note that this is more like @wodeni's suggestion above, rather than the `forall` pattern I ori

[2022-05-20 14:15] keenancrane commented on #775
A baby version of this change would be to replace the syntax

[code]

with

[code]

In other words, at least make it clearer from the syntax that the list of conditions following a `where` statement is a logical **and** (rather than, say, a logical **or**).  This meaning may be clear to us as expert users of Penrose, but is not clear to a novice reader.  I suspect it also affects cognition: when t

[2022-05-20 16:53] keenancrane opened #1001 "Add flag to enable/disable ensureOnCanvas by default"
**Is your feature request related to a problem? Please describe.**
For some Style programs you want all shapes to automatically have a constraint that keeps them on the canvas.

For other programs, you don't.

The latter case most commonly comes up when trying to speed up a complex diagram—or simply get it to work!  I.e., as you start to add a bunch of constraints, they can slow down optimization

[2022-05-20 19:17] keenancrane opened #1002 "Provide mechanism to break long lines in Style"
**Is your feature request related to a problem? Please describe.**
Currently a long line of Style code can't be continued after a newline.  Breaking lines into multiple lines is helpful for increasing legibility, especially in gnarly graphics code.

An example (which is not particularly long…) is something like writing
[code]
as
[code]

**Describe the solution you'd like**
It's probably too aggres

[2022-05-20 19:57] keenancrane opened #1003 "Allow multiple statements on one line in Style"
**Is your feature request related to a problem? Please describe.**
Currently each statement in Style must be terminated by a newline.  This restriction can lead to code that looks like a skinny dry hotdog:
[code]

**Describe the solution you'd like**
I want code that looks more like a stout juicy hamburger:

[code]

The solution here is to use a semicolon `;` to indicate the end of a statement.  U

[2022-05-20 20:37] keenancrane commented on #566
I'm also bumping up against this issue.  Here's a minimal version of what I'm trying to do:

[code]

[code]

[code]

The browser just hangs (and I'd guess it craps out even before we get to eight arguments).

[2022-05-20 20:57] samestep commented on #167
@keenancrane ran into this today. @wodeni is thinking of a better way to implement this.

[2022-05-22 10:55] keenancrane commented on #766
Layout passes can also be thought of as giving priority to different objectives in a very clear, “hard” way that doesn’t suffer from the pain of having to tweak the relative weights of different objective terms. It effectively says: “find the best solution to optimization problem B, subject to the condition that we’ve already fixed some values to the best solution to problem A.”

[2022-05-22 10:59] keenancrane commented on #766
@wodeni An obvious candidate is doing labels last. But even detecting which Style rules describe the “label” is a bit fuzzy.

I’d start by providing the ability to fly on manual, and then when we see where people tend to go with it we can think about building an autopilot on top of that. The main system change we need is just the ability to take a specification of passes (whether automatic or manu

[2022-05-22 12:11] ZiyaoWei commented on #985
@wodeni - thanks for replying! That sounds great, I'll wait for it :-)

[2022-05-23 10:58] keenancrane opened #1004 "Add a clear visual indicator that constraints were violated"
In both IDEs, we should show some bright red text or a ⚠️ symbol if a constraint was violated.  Right now you'll see there's a problem under `optimization status`, but it's not clear when/whether you should bother looking there.

[2022-05-23 18:07] keenancrane opened #1005 "Deprecate `with` in Style selectors"
**Is your feature request related to a problem? Please describe.**
The original Style language allowed selectors with a list of predicates following both the `with` and `where` keywords.  There was a subtle stylistic difference between these two, but we realized they didn't do anything functionally and have generally gravitated toward all examples simply using `where`.  E.g.,

[code]

Currently, t

[2022-05-23 18:13] keenancrane opened #1006 "Require Style rules to start with `forall`"
**Is your feature request related to a problem? Please describe.**
In the original Style language, rules do not start with any kind of keyword (as in CSS).  But prior to publishing the paper we realized it would be clearer from a human readability point of view to start rules with a `forall` statement.  For instance,

[code]

became

[code]

For backwards compatibility, the Style compiler still al

[2022-05-23 20:47] jiriminarcik opened #1008 "Cannot use two different images in the same diagram"
**Describe the bug**
Using two or more different images (meaning  shapes `Image` with two different values of `href`) leads to an incorrect assignment of the source images to their respective shapes.

Here are screenshots of three different frames from the same optimisation run on one example trio. Here, the three images above should be rectangles and the rest should be shaded balls. The images ra

[2022-05-23 22:19] keenancrane commented on #1008
I'm also seeing this bug whenever I try to use more than one SVG in the same Style.

[2022-05-24 14:08] keenancrane opened #1009 "Support arrays and iteration in Style"
**Is your feature request related to a problem? Please describe.**
We don't want/need Style to be a general-purpose language, but some basic array support sure would be nice.  Here's an example from `walk-on-spheres.sty`:

[code]

Obviously there's a ton of redundancy here that's a pain to code, and interrupts the stream of thought when reading.

**Describe the solution you'd like**
I suspect we'l

[2022-05-25 15:23] keenancrane opened #1020 "Provide explicit random sampling in Style"
It would be really helpful in Style to be able to say something like

[code]

and get a random value that stays fixed throughout optimization.  This value would change only if the `variation` changes.  In fact, we already get this behavior if we write

[code]

and `x.val` is not used in any constraints/objectives: it gets set to a random value that is unaffected by optimization, and does not chang

[2022-05-25 19:11] keenancrane commented on #914
I'm also having trouble with `roger` (even with the new IDE).  For instance, running `roger watch` from an example subdirectory (such as `walk-on-spheres`) loads up empty `.sub`/`.sty`/`.dsl` files in the IDE.  But running it from the `examples/` subdirectory correctly loads the files.  Seems there's maybe something hard-coded in `roger` about the examples directory?

[2022-05-26 10:53] #329 closed

[2022-05-26 10:58] maxkrieger opened #1023 "Support typical SVG attributes (stroke-width) in Equations"
as per @keenancrane's remark: https://github.com/penrose/penrose/blob/walk-on-spheres/packages/examples/src/walk-on-spheres/walk-on-spheres.sty#L336

MathJax labels are just ordinary `<path>`s so we can do some tree walking and apply attributes to all of them.

Just have to do `renderedLabel.getElementsByTagName("path").setAttribute("stroke-width", ...`.

But why are we setting stroke-width to 0 r

[2022-05-26 11:16] keenancrane opened #1024 "Don't emit Penrose-specific attributes in SVG"
Earlier this year @cmumatt did an [awesome PR](https://github.com/penrose/penrose/pull/749) to pass through arbitrary attributes from Style to SVG.

One final little thing to resolve is that Penrose-specific attributes _also_ get passed through to the SVG.  For instance, here's the output for a circle:

[code]

Notice in particular the `ensureOnCanvas` attribute, which is part of Penrose but not S

[2022-05-26 13:29] cmumatt commented on #1024
@keenancrane, thanks for observing this in the SVG output and opening this issue!

Agreed: the renderer should _not_ pass through the known (and non-SVG) internal properties `ensureOnCanvas` and `name`.  The original development included a mechanism to prevent this.  I'll take a look at what's going on, fix it in a PR, and add a test case to prevent future regression.

[2022-05-26 16:33] #1024 closed

[2022-05-26 17:46] cmumatt commented on #1023
Thanks for submitting this issue!  IIRC, the code snippet above pre-dates the renderer refactor and is probably due to Equation's lack of stroke properties.  I'll take a look at this one, too.

[2022-05-27 00:17] joshsunshine opened #1027 "Ellipse SDF graph causes gradient to NaN"
**Describe the bug**
The signed distance function for ellipse correctly calculates the signed distance between a point and an ellipse. However, the gradient calculation results in a NaN for almost all inputs. Therefore, calculating the sdf to an ellipses is temporarily disabled.

[2022-05-27 01:13] Nunatic02 opened #1028 "Can't open official website https://penrose.cs.cmu.edu/"
Opening `https://penrose.cs.cmu.edu/` and any sub URLs results in an error page displaying
[code]

[2022-05-27 13:13] cmumatt commented on #1028
@nunatic02, thanks for opening this issue!

We hope you are enjoying the site -- when it's working.  We are using CloudFlare Pages to host the site, but CloudFlare is presently having issues applying the penrose.cs.cmu.edu domain to our Pages project.

The problem is clearly on CloudFlare's end; unfortunately, we are waiting for them to fix that problem.  In the meantime, we've re-activated the ol

[2022-05-27 13:21] Nunatic02 commented on #1028
Ah, the old link works perfectly now! Thanks for the effort!
Btw, the Penrose project, the editor, the documentation, and all the tutorials are just amazing!! (I like how exercises are added to the tutorials 😝, like reading a textbook).
Thank you all so much for making these possible!

[2022-05-27 13:32] cmumatt commented on #1028
@Nunatic02, thanks for sharing that!  I am super glad you are enjoying Penrose, the tutorials, and the documentation!  The team puts a lot of heart into Penrose and are glad it shows!

We have an expanded IDE we are about to release to the site that is pretty amazing.  Stay tuned -- as soon as CloudFlare gets this fixed, you'll see it live.  Or, feel free to clone the repo to run it locally.

If y

[2022-05-27 13:34] Nunatic02 commented on #1028
Ahhh! Can't wait to try that!!

[2022-05-27 16:01] joshsunshine commented on #1028
@Nunatic02 you can try it now using this link: https://penrose-72l.pages.dev/
That link isn't permanent, but it will work for the time being.

[2022-05-27 17:01] Nunatic02 commented on #1028
Ahh! Thank you so much!! 🥰🤩🤩

[2022-05-27 20:59] wodeni commented on #552
Node v12 is no good now because:

[code]

Updating the wiki to require Node v14+. Do we still want to set `engine` now that it's clear?

[2022-05-30 16:31] keenancrane commented on #783
Some further thoughts/comments about implementation, following conversations with @cmumatt and @samestep.

### Cascading and grouping

In the proposed design, nothing prevents multiple groups from listing the same child shape.  This kind of grouping should not be allowed, because it describes a DAG rather than tree structure, which is not supported by SVG.

Instead, we can take advantage of cascad

[2022-05-30 16:32] keenancrane commented on #783
Here by the way is an example of how attributes are inherited in SVG.  Notice that the rectangle does not define a fill color, but instead inherits it from the group:

[code]

![image](https://user-images.githubusercontent.com/3604525/171032361-743d57dc-5ba4-40d3-ad1f-c0613e1b5b48.png)

[2022-05-30 17:04] joshsunshine commented on #783
This doesn't make sense to me. If Penrose renders a circle with a fill color inside a group with a fill color then the circle's color will take precedence. In this SVG code:
`<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 700">
<g fill="green" stroke-width="5" stroke="navy">
<circle fill="red" fill-opacity="0.5" cx="350" cy="350" r="200"></circle>
</g>`
The circle is red, n

[2022-05-30 18:02] keenancrane commented on #783
@joshsunshine Yeah, there's a subtle point here:

Since, in this example, `x.shape` does not explicitly define a field `x.shape.fillColor`, it will get drawn using its parent's fill color.

The fact that we then use `x.shape.fillColor` in an `encourage` statement doesn't change this fact: only shapes that **explicitly** assign a fill color will emit this fill color to the SVG.  If _every_ shape em

[2022-05-30 18:11] joshsunshine commented on #783
@keenancrane Right now, certain properties of shapes are sampled and rendered to SVG even if they are not specified in style program. Fill color is an example of such a property. Are you proposing to change that behavior for all shapes or just for shapes that are inside groups? What happens if the group itself doesn't specify a fill color (or any other property we've decided it is important to pro

[2022-05-30 18:16] keenancrane commented on #783
@joshsunshine Yes, there will need to be changes to the renderer.  In particular, each `Shape` now internally has a `parent` attribute, which gets set to a nonempty value whenever this shape is added to a `Group`.  When we go to render an attribute of a shape (e.g., emit the `fill-color` property), we first check if it has a parent.  If so, we follow the chain of ancestors via the `parent` attribu

[2022-05-30 19:52] joshsunshine commented on #783
@keenancrane This proposal perhaps makes sense to me for values that are *not* explicitly assigned a value by style. For example, if we were to chance your example very slightly to add a `?` as so:
[code]
The Penrose-rendered property of the circle should be ~rgba(1,0,0,1), and the Penrose-rendered property of the group should be ~rgba( 0, 1, 0, 1 ). The SVG renderer will of course show the circle

[2022-05-30 19:58] keenancrane commented on #783
@joshsunshine Yeah, I would assume these semantics:

- If a constant has been assigned to a field of `x.icon`, it's of course used when drawing the shape.  It can't be optimized, because it's a constant.
- If an unknown value `?` has been assigned to a field of `x.icon`, it's also used when drawing the shape.  Its value is determined via optimization.
- If a field has not been declared for `x.icon

[2022-05-30 20:00] joshsunshine commented on #783
I would then suggest that your original program, without the `?` should ideally behave exactly the same way as the above. Penrose should infer a new input/varying value to the optimization based on the style program.

In other words, your "run" semantics copied below, seem wrong to me.

Instead, the fillColor of the circle should be optimized.

[2022-05-30 20:01] keenancrane commented on #783
@joshsunshine In the sentence you quote, I am considering the "harder" implementation path.  In my two previous messages, I was considering the "easier" implementation path.  Does that clear it up?

[2022-05-30 20:10] joshsunshine commented on #783
@joshsunshine I understood that. I'm arguing that the "harder" implementation path should infer the `fillColor:?` from a program that doesn't have it and optimize the circle's fillColor and not the group's fillColor. Let me change your program slightly again:
[code]
In this program, it would be very strange if both circles changed to red based on the objective. Instead only x.circle should be red.

[2022-05-30 20:29] joshsunshine opened #1032 "Image URLs"
**Is your feature request related to a problem? Please describe.**
I want to be able to refer to images in Style programs using absolute URLs so they are fully portable. For example, I would like to write the code below in the walk-on-spheres example.
[code]

[2022-05-30 20:30] joshsunshine commented on #1028
The official URL, [https://penrose.cs.cmu.edu/](https://penrose.cs.cmu.edu/), works again. Thanks for your patience @Nunatic02

[2022-05-30 20:30] #1028 closed

[2022-05-30 20:44] keenancrane commented on #783
Ok, I finally understand the question. :-)

It's definitely _not_ that strange in the case of transformations.  In a transformation hierarchy, all the ancestor transformations can and should be optimized in order to reach the objective of the child.  Yes, this may affect the transformation of objects other than the child.  But that's how inverse kinematics works!  Imagine a robot (or character, as

[2022-05-30 21:09] joshsunshine commented on #783
@keenancrane I'm glad we finally understand each other 😄 . I have no experience with inverse kinematics so I'll trust you that it's the way things are done. I know I'd be surprised, in the program above, if both circles turned red. Before this discussion I would also have been surprised if both circles moved based on an objective applied to one! I'm willing to suspend disbelief and go with your pr

[2022-05-30 22:42] joshsunshine opened #1034 "Allow registry trios that are not IDE examples"
**Is your feature request related to a problem? Please describe.**
Some of the examples in our registry are not appropriate for public display in the examples tab of the IDE. The registry should allow certain trios to be excluded from the registry.

**Describe the solution you'd like**
Add a flag to `registry.json` for each trio that allows the registry author to exclude a particular trio from the

[2022-05-31 14:09] cmumatt opened #1035 "Local image resolution is not working in IDE"
**Describe the bug**
Currently resolving `local` images is not working in the IDE. Local resolution in Automator works fine.  This primarily impacts users on https://penrose.cs.cmu.edu/try/

**To Reproduce**
1. Start the IDE.
2. Click examples-->wos-laplace-estimator-walk-on-spheres
3. Add a blank line to any of the source files
4. Click compile.
5. Observe no images load

**Expected behavior**
Im

[2022-05-31 15:03] cmumatt opened #1036 "feat: Absolute Image URLs may fail due to CORS"
**Describe the bug**
Some web servers do not have CORS properly configured.  While they may not intend to block cross-origin requests, they do.  If a style program in the IDE references an image on one of these servers, then the browser will block the image fetch.

**To Reproduce**
1. Open the IDE
2. Load the tree-venn-3d example.
1. Change both hrefs in `tree-venn-3d.sty` to `https://www.cs.cmu.e

[2022-06-02 01:45] wodeni commented on #1034
Maybe separate registries?

[2022-06-02 02:35] #720 closed

[2022-06-02 02:35] #888 closed

[2022-06-02 02:35] #890 closed

[2022-06-02 02:35] #928 closed

[2022-06-02 02:41] samestep opened #1040 "Staged diagrams are untested"
@heleaf added support for staged diagram generation in #610. It is surfaced by `@penrose/automator`, but we currently don't test it either in our `@penrose/core` unit test suite or in our end-to-end `bench` job in CI. To prevent regressions, we should test staged diagram generation. In particular, I believe #984 modified the number of diagrams produced and the order of shapes included in each one,

[2022-06-02 09:26] keenancrane commented on #1040
@samestep I wouldn’t get too hung up on integrating this feature. There are a lot of discussions we’ve had (and yet need to have) about the design of the system around:

- staged diagrams
- animation
- optimization stages

These interact in tricky ways, and I don’t think the feature PR described above adequately captures everything yet. Let’s all discuss before moving forward any further.

[2022-06-02 14:05] cmumatt commented on #1034
Looks like only a small subset needs to be hidden on the IDE.  May not be worth creating a separate registry just for a few differences, and it seems like there would be an advantage to one central registry.  In the future we could centrally control trio applicability based on the flags attached to the trio.  I.e, which are benchmarked, displayed in the IDE, etc.

[2022-06-02 21:35] cmumatt commented on #1034
@rhit-chois3 coded the fix for this issue, but his testing is blocked by PR #1037.  The reason: on `main`, the IDE's `registry.json` is sourced from GitHub rather than locally.  Once PR #1037 is merged, `registry.json` will be sourced locally and we can test and merge this fix.  Another option is to merge the fix into main without testing, let GitHub update, and then test.  Since this isn't urgent

[2022-06-03 22:07] #1035 closed

[2022-06-03 22:28] cmumatt opened #1043 "Local image state should be managed by workspace"
**Describe the bug**
Starting with PR #1037 local images are managed in local storage.  We merged this PR without lifecycle management for all objects in local storage.  Basically, images can accumulate there and we need a way to clean them out.

One possible strategy is to move images into the workspace state managed by RecoilJS.  This way when a workspace is discarded by the system or deleted by

[2022-06-03 22:33] cmumatt commented on #951
Closing: working in production and preview.

[2022-06-03 22:33] #951 closed

[2022-06-05 19:48] cmumatt opened #1044 "Shape documentation pages are crashing"
**Describe the bug**
Currently the shape documentation pages are crashing with error: `This page has crashed`

**To Reproduce**
Example page: https://penrose.cs.cmu.edu/docs/ref/style/shapes/line/

**Expected behavior**
Shape details should be displayed.

[2022-06-06 20:03] keenancrane opened #1046 "In IDE vim mode, recompile on :w"
When doing local edits with `roger watch`, the old IDE would automatically recompile and re-layout when files changed (e.g., whenever they were written to).

It would be nice if the vim mode of the new IDE would automatically trigger a recompile/re-run when you type `:w` (followed by an `enter`), which in vim corresponds to writing a file.  Otherwise, you have to click the `compile` button every t

[2022-06-06 23:25] cmumatt opened #1047 "First compile of example diagram in IDE does not always look right"
**Describe the bug**
The first (automatic) compile of an example in the IDE does not always render the expected diagram.  In some cases, the labels might not be not visible.  A comparison of one set of outputs showed a slightly different SVG: the SVG without visible labels contained additional group elements with transforms.  The source of the difference hasn't been investigated, but this was also

[2022-06-07 13:56] cmumatt opened #1048 "When a file is updated in the IDE by Roger, automatically trigger a recompile"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
When a file is updated in the IDE by Roger, automatically trigger a recompile

**Describe alternatives you've considered**
Currently it is necessary to manually click "Compile" after Roger updates a file.

[2022-06-07 13:58] cmumatt opened #1049 "When the IDE is in vim mode, :w should automatically trigger recompilation"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
When the IDE is in vim mode, `:w` should automatically trigger recompilation

**Describe alternatives you've considered**
Currently it is necessary to manually click the compile button.

[2022-06-07 14:10] cmumatt opened #1050 "The editor in the IDE should provide visual feedback about passthrough properties"
**Is your feature request related to a problem? Please describe.**
Yes, humans understandably make mistakes when typing Style property names or mis-remember property names.

**Describe the solution you'd like**
Since adding pass-through properties, it is easier to make a mistake in a Style program because there is no error when using an unknown property.  For example, a Style programmer recently t

[2022-06-07 19:40] #1044 closed

[2022-06-08 19:41] keenancrane opened #1051 "The IDE doesn't always show the whole diagram"
Depending on how the window is sized, the `Diagram` pane of the IDE might not stretch to show the whole diagram.

For example, here's one window size where the diagram is cut off at the bottom:
![image](https://user-images.githubusercontent.com/3604525/172703058-03d560fa-28b3-4066-b405-646ac6a8c2d4.png)

Here's another window size where you can see the whole thing:
![image](https://user-images.git

[2022-06-08 23:44] ZiyaoWei commented on #985
@wodeni - since #984 has been merged I assume I can start working on this now?

[2022-06-09 00:00] samestep commented on #985
@ZiyaoWei Thanks for reaching out again! Sorry for not following up earlier; @wodeni and I are both temporarily away from Penrose this summer due to internships, and I made a note to respond to you but hadn't gotten around to it yet.

Anyways, yes, that would be great! So, to clarify, after #984 I _expected_ this to already work (so I was going to instead point you to a different issue to work on)

[2022-06-09 13:30] samestep opened #1052 "Improve parsing error messages"
Last month @wodeni and @JonathanAldrich and I had a Slack conversation about #961, lamenting how errors from the parser can be "quite cryptic", causing us to make the parser less strict than it could (should?) be and instead shift some of that error-checking into the compiler. I don't know if there's a good general solution to this issue, but while showing Penrose to someone earlier this week, I r

[2022-06-09 15:14] wodeni commented on #1052
I suppose we can either submit a PR to nearley or write a small extension for error reporting. Need to check https://github.com/kach/nearley/issues/451 to see the current state of things.

[2022-06-09 16:10] wodeni commented on #1052
@joshsunshine I know. I just meant we need to check it out to see how to interface with the internal parser state for error reporting, if there's an extension point etc

[2022-06-09 16:11] samestep commented on #1052
Hmm, can't we just do this downstream? Process the textual error message directly? I mean, I'm happy to also submit an upstream PR about this, but it seems like in the short-term we can just deal with it on the Penrose side.

[2022-06-09 16:15] wodeni commented on #1052
Yeah looking at the docs again. Maybe we can turn `keepHistory` on and try to access `table`

[2022-06-09 16:34] wodeni commented on #1052
Yep this is doable. Tried this in the `catch` block:

[code]

For the a sub program like `Set A, B, C, D, E, F, G {}`. This gives you something like:
[code]

I guess we need to figure out a way to display the tokens better.

Mostly just came from this function: https://github.com/kach/nearley/pull/453/files#diff-a2494d31370f679c592bbe9640e69e3bd4a30965bf8d22ccf351d979f6b35aecR338

[2022-06-10 02:40] ZiyaoWei commented on #985
@samestep - thanks for the really detailed instructions, I'm sure that'll be super helpful. I'll take a look and enjoy you summer (and to @wodeni too)!

[2022-06-13 15:04] cmumatt commented on #917
This was resolved in PR #1037 via `shx`.

[2022-06-13 15:04] #917 closed

[2022-06-16 17:17] #1023 closed

[2022-06-20 14:08] cmumatt opened #1055 "Improve IDE error handling during prepareState"
**Describe the bug**
Currently errors raised during prepareState are not reported to the IDE user.  They may only be reported to the console.

**To Reproduce**
Load the IDE.  In the `tree-venn-3d example` change `width` on line 28 to `fontSize` and compile.  This will raise an error, but this error is not reported to the user in the UI.

**Expected behavior**
Catch and raise the error to the IDE u

[2022-06-23 00:42] Vtec234 opened #1057 "Setting sizes in Substance"
**Is your feature request related to a problem? Please describe.**

Sometimes I would like to control the sizes of things per-diagram (i.e. per-substance), and per-entity. I might have a `type FooBox` in my DSL, and some default styling for `FooBox`es in Style. However, is it possible to then create a bunch of `FooBox`s in the Substance and then control their sizes from there? Something like
[code

[2022-06-23 11:53] samestep commented on #1057
Hey @Vtec234, thanks for reaching out! Exciting to hear that Lean folks are using Penrose :)

This question gets at a longstanding design tension we've had, essentially about whether to allow numbers in Substance; see also #949 for another recent discussion about this. Currently we're targeting a use case where Substance programs are written only by humans and not machines, but that starts to brea

[2022-06-23 15:12] Vtec234 commented on #1057
It does, thanks a bunch! I didn't know it was possible to select by label. You're right that I can't hardcode it beforehand, but I can just append some extra code to the style program every time I generate a new instance, so I think it should work.

That's right. The pretty-printed terms are DOM nodes of known width with onClick handlers and so on, so unfortunately I have to hack around a bit by p

[2022-06-26 00:58] Vtec234 commented on #1057
I already was :) It is very cool.

I unfortunately deleted them, but I can try to recall two things I ran into.

1. In the current code, specifying that `A` and `B` are connected by a horizontal arrow (to draw `A → B`) makes the Style program [*assign* the position](https://github.com/Vtec234/npm-widget/blob/39486f1e554ead1d36e6cb212a6523726106f6e0/widget/src/penrose/commutative.sty#L77) of `B` to

[2022-06-30 23:23] cmumatt commented on #583
Thanks for reporting this problem!

Good news: this problem is fixed, and the example no longer NaNs.

Steps to demonstrate in production:
1. Go to: https://penrose.cs.cmu.edu/try/
2. Click `Examples`-->`tree-venn`
3. Click the `Tree.sub` tab and paste in the Substance program above
4. Click "Compile" and observe output similar to the below.

![image](https://user-images.githubusercontent.com/2213

[2022-06-30 23:23] #583 closed

[2022-07-05 15:06] #828 closed

[2022-07-11 18:06] liangyiliang commented on #744
Hello! I have some ideas about how we would implement symmetric predicates.

## Augmenting the Substance Program
Suppose we have programs.
[code]

The current issue is that the following Style program
[code]
will not match the `Bond (H, O)`.

I'm currently thinking about internally "augmenting" the Substance program during the Substance compilation phase into something like
[code]
Using this augme

[2022-07-11 18:19] keenancrane commented on #744
Three comments:

1. My gut feeling is that we should really implement symmetric matching directly, rather than using a "kludge" like augmenting the Substance program.  Because, as you say, there are inevitably unintended consequences to the latter approach—like a rule being invoked multiple times when it should only be invoked once.

2. The symmetry really seems to pertain to the full selector, an

[2022-07-13 17:56] liangyiliang opened #1062 "Multiple Matching Issue"
**Describe the bug**
Sometimes, the same things in substance can be matched multiple times by the same style rule, due to the style matcher accepting multiple different variable mappings.

**To Reproduce**
Here is the program trio to reproduce the issue, on the current newest version on the `main` branch: https://fake3dlinalg.penrose-72l.pages.dev/try/?gist=fd9cf13ae1b6faebedc2bab08bb23ba4.

For c

[2022-07-13 22:24] joshsunshine commented on #1062
I think the key question is whether we want to support both matching semantics. For simplicity's sake, I prefer to support one "equivalent" match and not support the current mutli-match semantics. @samestep @wodeni is that okay with both of you?

[2022-07-13 22:49] liangyiliang commented on #1062
@keenancrane Do you know of any applications where matching the same rule on the same thing twice is actually expected? We are trying to determine whether or not we should make the single-match semantics the default - Thanks!

[2022-07-14 20:01] liangyiliang commented on #744
Partially resolved with basic binary symmetric predicates

[2022-07-15 21:44] liangyiliang opened #1064 "Multiple Matching, continued"
Hello! This issue continues upon some of the discussions in #1062. This hopefully gives insights on the implementation details to fix the #1062 issue.
## Program 1
Consider the following program trio:
[code]
In this program, how many "Hello" strings should be printed onto the canvas? The current implementation prints two, because the selector `forall Atom a1; Atom a2` admits two mappings:
[code]
T

[2022-07-18 21:23] liangyiliang opened #1065 "Better Matching Semantics"
# The Problem
The current mechanisms for matching Style programs to Substance programs are very rudimentary. By default, we perform "set-matching", but only very barely, with problems like #1062 and #1064 .

# The Solution
We need a clear set of semantics and new syntax for matching style to substance. Now, consider a substance program:
[code]
## Set-Matching Semantics
Selectors
[code]
are equival

[2022-07-19 15:54] liangyiliang commented on #1064
To ensure default set-matching, we have
* The first program should print "Hello" once.
* The second program should print "Hello" twice.

To do this, the proposed solution in #1062 is amended, as follows.

Each style block maintains a set of tuples, each tuple storing
* A set of _substitution targets_, and
* A set of _matched relations_.
I shall explain both.
## Premise
Suppose we have Style progra

[2022-07-19 17:24] #1062 closed

[2022-07-19 17:24] #1064 closed

[2022-07-19 18:06] joshsunshine commented on #1065
I don't think we should support `forall distinct {Atom a; Atom b}`. If this feature is implemented `forall (Atom a; Atom b)` will mean something different than `forall distinct (Atom a; Atom b)`, but `forall distinct {Atom a; Atom b}` will be equivalent to `forall {Atom a; Atom b}`. I think that is confusing.

[2022-07-19 18:07] joshsunshine commented on #1065
I think we should postpone implementing "combined" set/tuple semantics. They are relatively complex and we don't have a good use case for them right now.

[2022-07-22 14:28] liangyiliang opened #1068 "Symmetry in nested predicates"
**Describe the bug**
The mechanism for symmetry does not consider nested predicates.

**To Reproduce**
[code]

**Expected behavior**
I expect the word "Hello" to be printed on the canvas, since `Not(SBond(O, H))` in Style should match `Not(SBond(H, O))` in Substance. Instead, nothing is printed.

**Potential solution**
Currently the source code only considers symmetry on the outer-most level of pr

[2022-07-22 15:11] #1068 closed

[2022-07-22 18:37] joshsunshine opened #1070 "Stack overflow with too many substance objects"
**Describe the bug**
I've noticed that Penrose crashes with a stack overflow with programs that have too many substance types or relations. I don't know whether the problem is the number of types or the number of relations.

**To Reproduce**
Edit the [`hundred-points-around-star`](https://github.com/penrose/penrose/blob/main/packages/examples/src/shape-distance/hundred-points-around-star.sub) exam

[2022-07-22 18:41] joshsunshine opened #1071 "Improve Penrose style language documentation"
Many feature of Penrose's Style language are not documented anywhere. We should write documentation for all of these features and add them to the website under the [Style header](https://penrose.cs.cmu.edu/docs/ref/style/).

[2022-07-27 15:16] liangyiliang commented on #1070
Seems like an overflow with the optimizer, not the style matcher.

[2022-07-27 15:34] samestep commented on #1070
With the optimizer? That would surprise me... could you post information about the crash here and your reasoning as to why it seems like the optimizer is at fault?

[2022-07-27 15:39] liangyiliang commented on #1070
![image](https://user-images.githubusercontent.com/16521252/181289739-c7d46522-ae55-48df-ae5f-43c79b16a4cc.png)

[2022-07-27 15:44] samestep commented on #1070
This is on commit 7d0d4bfc78e1e5592a4c36e5a231af9517dacaca, correct? (just to make sure I'm looking at the same line numbers)

[2022-07-27 15:48] samestep commented on #1070
Oh! Actually this makes a lot of sense. I was thinking about this recently: your call stack size depends not just on how many stack frames you have, but also on how big each stack frame is. Because we compile an autodiff graph into JavaScript code where each value becomes a local variable, that all goes directly onto the stack. Probably the way to fix this is to instead allocate a contiguous array

[2022-07-27 15:50] liangyiliang commented on #1070
I'm it on here: [648a5be](https://github.com/penrose/penrose/pull/1072/commits/648a5bedca2dd0791ba24e35db784d8357979f66)

[2022-08-01 19:02] liangyiliang commented on #1065
For now I’ll require everything matched to be distinct, and introduce the special Style predicate Ordered(...)  (that takes a variable number of arguments). For instance,
[code]
will match all different orders of `(t2, t3, t4)` . In particular,
[code]
and
[code]
will be considered different, whereas
[code]
and
[code]
will be considered the same substitution and only matched once, since `t1, t5` ar

[2022-08-01 22:23] joshsunshine commented on #1065
Is the long-term goal for the `forall (Atom a; Atom b)` to be syntactic sugar for:
[code]

[2022-08-01 22:25] liangyiliang commented on #1065
Yup, I think so.

[2022-08-01 22:26] liangyiliang commented on #1065
It's just that the predicate form for Ordered(a, b) integrates well with how we prevent double-matching.

[2022-08-02 21:56] joshsunshine commented on #167
@liangyiliang can you see whether your recent changes (i.e. https://github.com/penrose/penrose/pull/1072) have fixed this issue?

[2022-08-02 21:59] joshsunshine commented on #290
@liangyiliang there are several pieces of discussion in this issue, including `exists` and lists that are relevant to you.

[2022-08-02 22:00] joshsunshine commented on #311
This is not available in the "Options" tab of the new IDE.

[2022-08-02 22:01] #311 closed

[2022-08-02 22:02] joshsunshine commented on #353
@liangyiliang can you determine which parts of this issue have been completed, and which are still relevant?

[2022-08-02 22:09] joshsunshine commented on #394
The compiler does issue an error if the style program tries to create an invalid shape. For example, if the style program includes code like `x.icon = Foo {...}` the compiler will issue the following warning `Got invalid GPI type Foo. Available shape types: Circle,Ellipse,Equation,Image,Line,Path,Polygon,Polyline,Rectangle,Text` I think the @cmumatt's change to allow pass-through properties makes

[2022-08-02 22:09] #394 closed

[2022-08-02 22:11] joshsunshine commented on #399
I've confirmed that this is fixed in the current system.

[2022-08-02 22:11] #399 closed

[2022-08-02 22:12] #432 closed

[2022-08-03 16:03] liangyiliang commented on #775
Hmmm ... I think this might break the general algorithm behind the _faster matching semantics_ which requires the predicates to all hold ... we'll have to think more about this

[2022-08-03 16:06] liangyiliang commented on #566
I'm closing this since _faster matching_ has been implemented.

[2022-08-03 16:06] #566 closed

[2022-08-03 16:14] liangyiliang commented on #290
Just to clarify, say we have an `exists` block. We want this to be matched and triggered _at most once_, right? @keenancrane

[2022-08-03 16:18] liangyiliang commented on #290
The distinction between _permutation_ and _combination_ seems a lot like the distinction between _ordered_ and _unordered_ matching. Our current methodology performs _combination_ matching. If it sees _(a, b) => (A, B)_, then it does not consider _(a, b) => (B, A)_, except if the matched relations are different.

[2022-08-03 16:18] joshsunshine commented on #290
Yes, @liangyiliang, `exists` selectors should match at most once.

[2022-08-03 16:45] liangyiliang commented on #167
The language has changed a lot, and I couldn't draw an entire diagram.

However, for the specific style selector @k-qy talked about, the current version matches it a lot faster. See [here](https://penrose.cs.cmu.edu/try/?gist=e38b5168bda4315fdb61db0455a364cc).

[2022-08-03 16:47] liangyiliang commented on #1065
Upon discussions from yesterday, we are _temporarily_ leaving this aside until we find specific examples where this would be useful.

[2022-08-03 17:02] joshsunshine commented on #167
Okay. I'm going to close this issue.

[2022-08-03 17:02] #167 closed

[2022-08-03 17:40] liangyiliang commented on #785
This sounds really interesting and reasonable! Informations such as `match_count` and `match_id` are what we can attach to our `Subst[]` object and individual `Subst` objects.

I think it would be reasonable to have a list of "reserved variable names" which would include things like `match_id` and `match_count`. Whenever we access a variable within the Style block, we first check if they are reser

[2022-08-03 17:40] liangyiliang commented on #1006
I agree - this would be an easy edit to the parser.

[2022-08-03 20:07] #1006 closed

[2022-08-14 04:15] ZiyaoWei commented on #985
Super long turnaround time, sorry :-)

I finally managed to get around to this, but if #1075 is correct this seems trivial?

OTOH I very much enjoyed going through the tutorial! I might have found a few bugs - will report/fix them. Thanks for the guidance above!

[2022-08-16 19:53] #985 closed

[2022-08-16 19:54] samestep commented on #985
@ZiyaoWei

No worries!

Cool! Yeah, this looks like more or less what I expected. Thank you!

That sounds great! And if you're interested in contributing more, let me know if you'd like to point you to another issue you could work on.

[2022-08-16 20:15] samestep commented on #659
@maxkrieger @wodeni Should this be closed as of #1000?

[2022-08-16 20:16] samestep commented on #652
I think this should be closed as of #907? @wodeni I guess we need to redo the same performance measurement to verify that the issue was actually resolved?

[2022-08-16 20:17] samestep commented on #645
@joshpoll I'm guessing this is resolved as of #984?

[2022-08-16 20:18] samestep commented on #811
Seems related to #811.

[2022-08-16 20:19] samestep commented on #620
@wodeni Does this relate to #964?

[2022-08-16 20:23] samestep commented on #608
@nschloe Ah interesting, I didn't realize Chrome extensions had this restriction. As @k-qy mentioned, our code generation is key for keeping Penrose fast. However, it is possible that we may switch to generating WebAssembly instead of JavaScript. Do you happen to know if WebAssembly usage is allowed in Chrome extensions?

[2022-08-16 20:23] samestep commented on #607
Given @hsharriman's most recent comment here, should this issue be closed?

[2022-08-16 20:25] samestep commented on #595
I think this should be closed as of #984, because we no longer support `override` on access paths.

[2022-08-16 20:25] #595 closed

[2022-08-16 20:27] samestep commented on #523
Is this still an issue? Particularly after #984?

[2022-08-16 20:28] samestep commented on #765
This seems related to #518.

[2022-08-16 20:29] samestep commented on #521
I think this should be closed as of #984, because we no longer support `override` on access paths.

[2022-08-16 20:29] #521 closed

[2022-08-16 20:31] samestep commented on #503
I believe this should be closed since #984 deleted the `findExpr` function.

[2022-08-16 20:31] #503 closed

[2022-08-17 08:43] nschloe commented on #608
All user input that could potentially do harm on a computer of an extension user is prohibited. The only thing possible to to provide a string (or strings) to the extension that the extension then evaluates. (`eval()` and friends not allowed.)

[2022-08-17 11:58] samestep commented on #608
@nschloe That makes sense; however, evaluating WebAssembly code has different security implications from evaluating JavaScript code. Judging from [this Stack Overflow answer](https://stackoverflow.com/a/49970231/5044950), it looks like it is possible to do inside of a Chrome extension. Actually, going off [Google's documentation](https://developer.chrome.com/docs/extensions/mv3/sandboxingEval/), i

[2022-08-17 12:12] nschloe commented on #608
Quoting from the page:

and

The info is simply outdated.

[2022-08-17 12:14] samestep commented on #608
Ah, that is unfortunate. But what I was asking about before was WebAssembly usage specifically; do you happen to know if the Stack Overflow thread I linked is also outdated? Or does that work today?

[2022-08-17 12:16] nschloe commented on #608
No idea.

[2022-08-18 07:28] #659 closed

[2022-08-19 21:27] samestep commented on #645
I tried this on https://penrose.cs.cmu.edu/try/ just now (at commit 3f0947795e975c33f7d8cfad0be467746221f005) and can verify that it's fixed.

Domain:
[code]

Substance:
[code]

Style:
[code]

[2022-08-19 21:27] #645 closed

[2022-08-19 21:28] #607 closed

[2022-08-19 21:28] samestep commented on #523
I'm closing this; feel free to reopen if I'm mistaken.

[2022-08-19 21:28] #523 closed

[2022-08-20 01:05] samestep commented on #415
I just checked: it was.

[2022-08-20 01:05] #415 closed

[2022-08-20 08:12] keenancrane commented on #415
One thing to note: although we took care of the renaming, the values that this field can take are still just flat colors.  SVG also [allows the "color" to be a pattern](https://css-tricks.com/almanac/properties/f/fill/).

[2022-08-20 11:40] samestep commented on #415
@keenancrane That seems like a separate issue (more about the syntax of the Style language than about the naming of our shape properties); could you create a new issue for that if one doesn't already exist?

[2022-08-24 18:39] #1040 closed

[2022-08-25 03:51] ZiyaoWei commented on #985
@samestep:

Thanks for the review and I am definitely interested in contributing more! Also thanks for the list and I will get started on them. Sorry for the slow reply, was out for a few days :-)

[2022-08-30 21:57] wodeni commented on #1049
Closing in favor of #1046

[2022-08-30 21:57] #1049 closed

[2022-09-06 18:58] #1052 closed

[2022-09-08 15:59] samestep opened #1082 "Automator is slow"
Currently Automator's startup time (i.e. not counting the time it takes to actually do things) is several seconds. This is way too slow. There's probably a way to make it faster.

[2022-09-09 17:47] samestep opened #1086 "Passing tests print distracting output"
Currently (commit 1a8b4401fbe65702bc851ebe31f990b5857f3ffe), running `yarn test Domain.test.ts Style.test.ts` in `packages/core/` produces the output shown below, containing some distracting error/warning messages. (No additional output is shown by running just `yarn test`, so it is contained in just these two test files.)

[code]

[2022-09-10 14:50] Champitoad opened #1088 "JavaScript heap out of memory error on `yarn start`"
I am trying to run penrose locally for the first time, and when I open [http://localhost:3000/try/](http://localhost:3000/try/) the page doesn't load, and I get the following error:

[code]
Full vite log:
[code]

**Desktop:**

I am running NixOS 21.11.

[2022-09-10 15:27] samestep commented on #1088
Sorry you're running into this! Just to clarify: does this error occur just when you run `yarn start` without you even opening the webpage in your browser, or does it only happen after you open the page in your browser?

[2022-09-10 15:46] Champitoad commented on #1088
It happens after I open the webpage

[2022-09-10 15:53] samestep commented on #1088
Could you try some of the suggestions from https://github.com/vitejs/vite/issues/2433 to see if any of them help? For instance, you could try applying this diff to give Vite 8GiB of RAM:

[code]

[2022-09-10 17:23] Champitoad commented on #1088
Indeed it helps, now the page loads without errors! Maybe this could be merged into the main branch?

[2022-09-12 14:58] #1088 closed

[2022-09-12 15:40] wodeni commented on #1082
Looks like `ts-node` is doing transpilation and typechecking in every single run without caching. A quick patch is to bump `ts-node` to v10 and use `transpileOnly`, deferring typechecking to CI. Tried [SWC](https://typestrong.org/ts-node/docs/swc/) but it's failing with a "`window` not found" error in MathJax.

[2022-09-14 21:27] joshsunshine opened #1095 "Providing a positive user experience for slow Penrose trios"
**Is your feature request related to a problem? Please describe.**
When selecting a long-running and complex Penrose trio like the `hypergraph-hypergraph` from the example tab in the IDE, the browser window hangs and shows "Loading example..." for several seconds (or more) while the trio compiles and the optimizer runs. This is not a good user experience. The user can't edit the trio while this is

[2022-09-15 01:45] samestep opened #1096 "Many of our dev scripts don't work on Windows"
From https://github.com/penrose/penrose/pull/1081#issuecomment-1247468152:

1. running `yarn install-global` in `packages/roger/` on Windows does not actually put a `roger` command on the PATH
2. setting `NODE_OPTIONS='--max-old-space-size=8192'` is not valid PowerShell syntax
3. running `vite` gives the error `Error: listen EACCES: permission denied 127.0.0.1:3000`

[2022-09-15 20:40] wodeni commented on #1096
`cross-env` handles this.

Guessing this needs OS config, not just from us.

Weird.

[2022-09-16 00:37] samestep commented on #1096
Ah cool! Easy fix, then.

Yeah that one is probably just weirdness on my own machine.

Specifically, running `git clean -dnx` gives these warnings:

[code]

[2022-09-16 17:50] wodeni opened #1099 "Support context-sensitive autocompletion in `editor`"
**Is your feature request related to a problem? Please describe.**

The autocomplete service in `editor` doesn't understand where the cursor is in the Style program. For instance, in a shape block, autocomplete should show properties specific to the shape, not random constraint/objective names.

![image](https://user-images.githubusercontent.com/11740102/190701296-786158be-eed8-4ff3-a33f-1b324d1f1

[2022-09-16 18:04] wodeni opened #1100 "`disjoint(Equation, Line)` goes to infinity"
**Describe the bug**

`disjoint` seems to have asymmetric behaviors when taking `(Equation, Line)` versus `(Line, Equation)` as arguments.

**To Reproduce**

1. Go to https://penrose.cs.cmu.edu/try/?gist=1fa383c8e64a0f1289120cb336ba190c
2. Click on "Compile"
3. Click on the "Opt" tab (make sure debug mode is on)
4. See that `disjoint(t.icon, l.icon)` has an energy of `infinity` and `disjoint(l.ico

[2022-09-16 19:25] liangyiliang commented on #1002
In C/C++ we use semicolon to denote a statement, regardless of newline characters. Is that something we can do here? i.e. End every _statement_ with a semicolon, and allow newlines within statements ...

[2022-09-16 21:13] samestep commented on #1002
@liangyiliang Yeah I like that approach. Not sure how many others on the team agree, though...

[2022-09-19 16:35] wodeni commented on #644
Closing because the new IDE (https://github.com/penrose/penrose/pull/992) has dragging disabled already.

[2022-09-19 16:35] #644 closed

[2022-09-19 16:38] wodeni commented on #702
Closing in favor of #1099

[2022-09-19 16:38] #702 closed

[2022-09-20 19:12] wodeni commented on #837
`shapes` is deprecated in `editor`. Closing now.

[2022-09-20 19:12] #837 closed

[2022-09-20 20:30] wodeni commented on #1095
Looked into web workers today and here's the status so far:
* [@shoplify/web-worker](https://www.npmjs.com/package/@shopify/react-web-worker) has a nice API, but doesn't seem to run anything on a separate thread. Moving `stepState` to a worker still blocks the main thread.
  * Probably something is wrong with the library itself: https://github.com/Shopify/quilt/issues/2232
* The native web worker

[2022-09-23 16:58] #1051 closed

[2022-09-24 16:33] wodeni opened #1110 "`checkSymmetricArgs` checks empty type graphs"
**Describe the bug**

When checking `symmetric`, the checker attempts to use `typeGraph` by calling `isSubtype` for both arguments to make sure they are identical. When they are actually identical types, this is okay. However, when one is a subtype of another, `isSubtype` returns `false` for both `isSubtype(MyType, MySubType)` and `isSubtype(MySubType, MyType)`.

[code]

**To Reproduce**

Print ou

[2022-09-26 14:21] samestep commented on #1086
From #1109:

[2022-10-10 20:31] wodeni opened #1123 "Uncaught error in the Style compiler when selector relations refer to nonexistent variables"
**Describe the bug**

When a Style relation (e.g. a binding) refers to variable not defined in the header but defined in the Substance file, an error occurs in the Style compiler.

[code]

**To Reproduce**

https://penrose.cs.cmu.edu/try/?gist=a7a33751a606a5688cb7c7cdf7aea9e7

Steps to reproduce the behavior:
1. go to the link above
2. press compile
3. observe error in the console

**Expected beha

[2022-10-10 22:02] liangyiliang commented on #1123
That's something that I think I can work on

[2022-10-11 19:53] liangyiliang opened #1126 "Symmetric predicate not matching"
**Describe the bug**
Sometimes, symmetric predicates are not matched.

**To Reproduce**

[Here](https://penrose.cs.cmu.edu/try/?gist=b238c2fa771be44b65e5adee6d5cf4ab)

**Expected behavior**
It should print something to the canvas; instead it doesn't.

**Reason**
When the algorithm looks at Equal(x, y) , it should try both `x = A, y = B`  and `x = B, y = A` . However, the algorithm currently handle

[2022-10-12 00:03] #1071 closed

[2022-10-12 08:56] liangyiliang commented on #1110
One issue is that our types might be `TypeFunctions` which are present in the language ... I guess it's some type polymorphism feature which we haven't thoroughly tested?

[2022-10-12 12:32] wodeni commented on #1110
Fun fact: Penrose used to have dependent types! But now it's basically generics that have some tests in Domain and Substance test suites. No end-to-end examples nor Style tests for sure.

[2022-10-12 18:44] samestep commented on #1005
@ZiyaoWei Thanks for looking into this! Yep, it looks like you're right: I looked through the Style parser just now, and it seems that currently we only allow `with` for declarations and `where` for relations, respectively.

@keenancrane I'm closing this as resolved; feel free to comment here if this isn't what you were referring to.

[2022-10-12 18:44] #1005 closed

[2022-10-14 18:07] keenancrane opened #1129 "Make SVGs "Penrose-editable""
Picture a world, where…

1. SVGs exported from Penrose contain (in metadata) the entire source code used to generate the diagram (Domain, Style, and Substance), along with the seed and software version.
2. The Penrose IDE can directly import an SVG, and automatically import this metadata.

Then we immediately provide editability of any (SVG) diagram created in Penrose.  For instance, if someone up

[2022-10-14 18:15] joshsunshine commented on #1129
This sounds great to me. Just to make this concrete, we can include the following non-renderable tags in the SVG source we output:
[code]
Do you thin we need anything else @keenancrane, @wodeni, or @samestep ?

[2022-10-14 18:31] wodeni commented on #1129
@joshsunshine basically that's it. See https://gist.github.com/wodeni/ca22e7bd35ba735db0549e1c826074c4 for an example of data that the ide loads. Specifically https://gist.github.com/wodeni/ca22e7bd35ba735db0549e1c826074c4#file-metadata-json

[2022-10-26 19:54] keenancrane opened #1131 "Label language localizations"
In Substance we can currently specify only one label string, which presents a maintainability issue for language localization.  For instance, to generate the same diagram in several languages, we currently need to duplicate the `.sub` source and modify the label strings in each copy.  Better would be to have the ability to associate labels with languages, so that we can select the localization at

[2022-10-26 21:00] wodeni opened #1132 "Equation/Text dragging not captured in bounding box (Firefox/Safari)"
**Describe the bug**

In the drag handlers of `Equation` and `Text`, we use `pointer-events: bounding-box`, which is not well supported in Firefox and Safari. See a similar [SO post](https://stackoverflow.com/questions/53663476/how-to-simulate-svg-pointer-events-bounding-box-in-firefox-safari).

**To Reproduce**

Steps to reproduce the behavior:

1. Run any examples with text or equation in Firefo

[2022-11-01 02:11] #1126 closed

[2022-11-03 14:29] wodeni opened #1135 "SVG disappears in `editor` on mobile browsers (Safari/Chrome)"
**Describe the bug**

After #1105, my iOS browsers stop displaying the diagram in `editor`, while download options seem to work.

**To Reproduce**

Steps to reproduce the behavior:

1. Open https://penrose.cs.cmu.edu/try/ on iOS Safari
2. Click on one of the examples
3. Observe that diagram doesn't show up

**Expected behavior**
Diagram shows up in its entirety.

**Screenshots**
![IMG_0129](https:

[2022-11-03 19:24] #1135 closed

[2022-11-07 15:59] simonvarey commented on #1096
Are there any workarounds for these issues for Windows users? I tried using cross-env but that didn't seem to work (granted, I was probably using it incorrectly).

[2022-11-07 19:16] samestep commented on #1096
@simonvarey Can you try #1138 and see if that works?

[2022-11-08 04:43] simonvarey commented on #1096
@samestep It looks like it worked. Thank you!

Issue 1 still seems to be a problem. The examples in the repo don't load in Roger and running `roger watch` in `\packages\examples\src` returns a `Error: Missing 3 required args: ...` error. Any thoughts about how this might be fixed/any work arounds?

[2022-11-08 15:23] wodeni commented on #1096
That looks like an older version of `roger` that expected a Penrose trio as separate arguments. We since changed `roger` to serve directories. In `packages/roger`, run:

* `yarn unlink` to uninstall `roger`
* `yarn install-global` to install `roger again

After that, you should see the following help text when you run `roger`:

[code]

[2022-11-09 16:02] simonvarey commented on #1096
Thanks @wodeni , that fixed it! I was using a clean install so I'm not exactly sure how I was using an old version of Roger, but I guess I didn't unlink the old version properly.

Looking forward to experimenting with Penrose!

[2022-11-15 12:35] samestep commented on #676
@ZiyaoWei I searched just now and found five places where `ops.vrot` is used; should be doable? But yes, we'd like for the semantics of that function to be changed so it uses radians instead of degrees, and then update all usages.

@keenancrane One thing I just realized: doesn't the SVG spec itself use degrees instead of radians? So we'll need to convert to degrees in the final step (in the render

[2022-11-16 00:46] wodeni commented on #535
Another example likely for the same reasons: in `synthesizer-ui`, exporting the diagrams cause the labels to disappear on the page.

[2022-11-16 13:04] #857 closed

[2022-11-16 17:42] #535 closed